@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
  
}
body{background-image: linear-gradient(#9404D6,
    #323050,#21445B);} /*Conteúdo ideal fundo branco com letra preta*/
   
    main{background-color: white;
        border-radius: 10px;/*Arredondar as bordas*/
        box-shadow: 5px 5px 15px #312e4ed0;/*primeiro parâmetro é quanto a sombra vai andar para o lado, segundo para baixo, terceiro quanto vai se espalhar e o quarto a cor. para trabalhar com monocromia no tom no coloque para baixo e para transforma transparente só acrescente*/
   
        width: 600px;/*width largura trabalhar pixel*/
    
        padding: 10px;/*espaço na lateral do texto , chamado de acolcheamento*/
   
        margin: auto;//*margem auto, coloca o conteúdo no centro*/
        
    } 
    h1{
        text-align: center; /*texto no centro*/
        color: #1A6566;/*color=cor da letra*/
        text-shadow: 1px 1px 2px #165253c4;
    }
    h2{
        color: #5D8A66;
    }
    
    
    
p{
    text-align: justify;
}